body{
    background-image: url("https://s.videogamer.com/meta/c91b/bbd5ba32-a92a-423b-b27f-df8c87f19060_3ec01ef7-f1f7-4e1d-85a3-d7757a65bf79_rainbow-six-siege-update.jpg");
    background-position: center;
}

*{box-sizing: border-box;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.check{
    padding: 15px;
    border:1px solid red;
}

td {
    border: 2px solid snow;
    padding: 10px;
    text-align: center;
    background-color: slategray;
    color: white;
    font-size: 20px;
}

tr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.img1{
    background-image: url("https://66.media.tumblr.com/4a80c8f0377359f54e1190e3f358caba/tumblr_pbijpfZeQo1u4gq67o2_r1_250.gif");
    border-radius: 100%;
    background-size: contain;
    width: 100px;
    height: 100px;

}

.welcome{
    padding: 10px;
    text-align: center;
    font-size: 120px;
    color: aliceblue;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-family: 'Courgette', cursive;
}

.lv{
    text-align: right;
    font-size: 40px;
    text-shadow: 0.1em 0.1em 0.2em black
}

.lvs{
    font-size: 40px;
}

.Ans{
    text-align: center;
    font-size: 30px;
}

.result{
    text-align: center;
    font-size: 140px;
    color: wheat;
    text-shadow: 0.1em 0.1em 0.2em red;
}

.reset{
    font-size: 100px;
    background-color: blue;color: gold;
    border-radius: 10%;
}

.fontZCOOL{
    /* font eng */
    font-family: 'ZCOOL QingKe HuangYou', cursive;  
}
.fontCourgette{
    /* font eng */
    font-family: 'Courgette', cursive;
}
.fontBarcode{
    /* font eng */   
    font-family: 'Libre Barcode 128 Text', cursive;
}
.fontItim{
    /* font thai */
    font-family: 'Itim', cursive;
}
.fontSriracha{
    /* font thai */
     font-family: 'Sriracha', cursive;
}


/* โทรศัพท์ width 414 */
@media screen and (max-width: 414px) {
    [class*="col-"]{
        width:100%;
    }
    td {
        border: 2px solid snow;
        padding: 10px;
        text-align: center;
        background-color: slategray;
        color: white;
        font-size: 20px;
    } 
    tr {
        text-align: center;
    } 
    .img1{
        background-image: url("https://66.media.tumblr.com/4a80c8f0377359f54e1190e3f358caba/tumblr_pbijpfZeQo1u4gq67o2_r1_250.gif");
        border-radius: 100%;
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .welcome{
        padding: 10px;
        text-align: center;
        font-size: 50px;
        color: aliceblue;
        text-shadow: 0.1em 0.1em 0.2em black;
        font-family: 'Courgette', cursive;
    }
    .lv{
        text-align: center;
        font-size: 20px;
        color: gold;
        text-shadow: 0.1em 0.1em 0.2em black;
    }
    .lvs{
        font-size: 20px;
    }
    .Ans{
        text-align: center;
        font-size: 20px;
    }
    .result{
        text-align: center;
        font-size: 40px;
        color: wheat;
        text-shadow: 0.1em 0.1em 0.2em red;
    }
    .reset{
        font-size: 40px;
        background-color: blue;color: gold;
        border-radius: 20%;
    }
    
}